    body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 20px;
    }
    #qr-reader {
      width: 300px;
      margin: auto;
      margin-bottom: 20px;
    }
    #result {
      margin-top: 20px;
      font-size: 20px;
      font-weight: bold;
      white-space: pre-line;
    }
    #next-btn {
      display: none;
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 16px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }
    .valid {
      color: green;
    }
    .invalid {
      color: red;
    }
    .invalidd {
      color: rgb(255, 149, 0);
    }